<html lang="en" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8" />
<title>Team:Amsterdam/test/joeri/index - 2017.igem.org</title>
<meta name="generator" content="MediaWiki 1.24.1" />
<!-- add igem base style from load.php -->
<style>
	<%= partial "layouts/wiki_style" %>
</style>
<!-- end of igem base style -->
<style>a:lang(ar),a:lang(kk-arab),a:lang(mzn),a:lang(ps),a:lang(ur){text-decoration:none}
/* cache key: 2017_igem_org:resourceloader:filter:minify-css:7:faeec198b704588e6c9afc1a44274438 */</style>
</head>
<body class="mediawiki ltr sitedir-ltr ns-0 ns-subject page-Team_Amsterdam_test_joeri_index skin-igem action-view">
    <!--
        iGEm Table Sorter layout (ignored for now)
        <link rel='stylesheet' type='text/css' href='/common/tablesorter/themes/groupparts/style.css' />
        <link rel='stylesheet' type='text/css' href='/common/table_styles.css' />
    //-->
    <div id='globalWrapper'>
        <div id='top_menu_under' class='noprint'></div>
        <div id='top_menu_14' class='noprint'>
        <div id="top_menu_inside">
<ul>
<li class="has_submenu"><a href="" style="color:white">iGEM</a><div class="submenu" style="display: none;">
                   <div id="igem_submenu" class="intro"><div class="section1" style="float:left;cursor:default;
                   font-style: normal;width:200px;">iGEM<br><div style="padding:15px 15px;">The
                   International<br>Genetically<br>Engineered<br>Machine Competition</div></div><div class="section" style="float-left; width:250px;"><div class="h1">Quick Links</div><a href="http://igem.org">igem.org</a><br><a href="http://2017.igem.org">2017.igem.org</a><br><a href="http://2016.igem.org">2016.igem.org</a><br><a href="http://2015.igem.org">2015.igem.org</a><br><a href="http://2014.igem.org">2014.igem.org</a><br><a href="http://parts.igem.org">parts.igem.org</a><br><a href="http://igem.org/Previous_iGEM_Competitions">Previous iGEM Competitions</a><br></div><div class="section" style="float:left;"><div class="h1">About iGEM</div><a href="http://igem.org/About">iGEM</a><br><a href="http://parts.igem.org/Help:Synthetic_Biology">Synthetic Biology</a><br><a href="http://parts.igem.org/Help:Philosophy">Our Philosophy</a><br><a href="http://parts.igem.org/Help:Parts">Parts</a><br><a href="http://parts.igem.org/Help:Plasmid_Backbones">Plasmid Backbones</a><br><a href="http://igem.org/Labs">iGEM Labs</a><br></div><div class="section" style="float:left; width:250px;"><div class="h1">Contacts</div>hq <span style="font-style:italic">at</span> igem <span style="font-style:italic">dot</span> org<br><br>+ 617.500.3106<br><br>One Kendall Square<br>Suite B6104<br>Cambridge, MA 02139<br>USA<br><a href="http://igem.org/Contact">Contact</a><br></div></div>
               </div></li>
<li class="has_submenu"><a href="" style="color:white">wiki tools</a><div class="submenu" style="display: none;">
                   <div id="wiki_tools_submenu" class="intro"><div class="section" style="float:left;"><div class="h1">Wiki Tools</div><a href="/Team:Amsterdam/test/joeri/index">View</a><br><a href="/wiki/index.php?title=Team:Amsterdam/test/joeri/index&amp;action=edit">Edit</a><br><a href="/wiki/index.php?title=Team:Amsterdam/test/joeri/index&amp;action=history">History</a><br><a href="/Special:MovePage/Team:Amsterdam/test/joeri/index">Move</a><br><a href="/wiki/index.php?title=Team:Amsterdam/test/joeri/index&amp;action=unwatch&amp;token=d46010e16f53bc15b9b111c10f04d714%252B%255C">Unwatch</a><br><a href="/Team:Amsterdam/test/joeri/index">Page</a><br><a href="/wiki/index.php?title=Talk:Team:Amsterdam/test/joeri/index&amp;action=edit&amp;redlink=1">Discussion</a><br></div><div class="section" style="float-left;"><div class="h1">Upload Tools</div><a href="/Special:Upload">Upload files</a><br><a href="/Special:SpecialPages">Special pages</a><br></div><div class="section" style="float:left"><div class="h1">Other</div><a href="/Special:Recentchanges">Recent changes</a><br><a href="/Special:SpecialPages">Special pages</a><br></div><div class="section1" style="float:right;font-size:18px;line-height:24px;font-family:georgia,serif;font-style:italic;font-weight:400;color:#cccccc; width:250px;">These tools let you edit this page, see the page history, recent changes, upload files, and more.
    Starting in 2014, team wiki pages and images may only be modified by members of that team.
<div style="display:block;width:100%;font-family:arial;font-style:normal;font-size:13px">
    <a style="float:right" href="http://2014.igem.org/Uploading_Files">For more information...</a></div></div><div style="clear:both"></div><div style="border-top: 2px solid gray;margin-top:10px;padding: 10px 5px;font-style:normal;width:100%">
          The contents of this web site are available under the
          Creative Commons Attribution Copyright license.<a style="float:right" href="http://mediawiki
          .org">Powered by MediaWiki</a></div></div>
               </div></li>
<li class="has_submenu"><a href="" style="color:white">search</a><div class="submenu" style="display: none;">
                   <div id="search_submenu" class="intro"><div class="section" style="float:left;"><div class="h1">Search Tools</div><div class="section" style="float:left;width:600px;font-size:18px;line-height:30px;"><input id="search_text" type="text" value="" style="font-size:14px;width:500px;margin-bottom:10px;"><div class="google" style="font-size:14px;line-height:22px;">  Click below to search using Google:<br><span id="igem17_search">2017.igem.org</span><br><span id="igem16_search">2016.igem.org</span><br><span id="igem15_search">2015.igem.org</span><br><span id="igem14_search">2014.igem.org</span><br><span id="igem_search">igem.org</span><br><span id="registry_search">iGEM Registry</span><br><span id="scholar_search">Google Scholar</span><br><span id="web_search">The Web</span></div><div id="page_go">Go to this page (or create it)</div></div></div><div class="section" style=""></div><div class="section1" style="float:right;font-size:18px;line-height:24px;font-family:georgia,serif;font-style:italic;font-weight:400;color:#cccccc;width:250px;"><div>We use a Google site search rather than the built in Mediawiki search tool.</div> </div><div style="clear:both ></div><div class=" section'=""></div>
                   </div>
               </div></li>
<li class="has_submenu"><a href="" style="color:white">toc</a><div class="submenu" style="display: none;">
                   <div id="toc_submenu" class="intro"><div class="section" style="float:left;"><div class="h1">Options for the TOC</div><a href="#">Exclude team pages</a><br><a href="#">Show only team pages</a><br></div><div class="section1" style="float:right;font-size:18px;line-height:24px;font-family:georgia,serif;font-style:italic;font-weight:400;color:#cccccc; width:250px;">This Table of Contents tool examines the wiki database to show you an organized list of pages in thei wiki.</div><div style="clear:both"></div></div>
               </div></li>
<li class="has_submenu"><a href="" style="color:white">team Amsterdam</a><div class="submenu" style="display: none;">
                   <div id="team_submenu" class="intro">The team submenu is not available at this time.</div>
               </div></li>
</ul>
 <div id="user_item" class="has_submenu">
<style>
#nlogin_iframe {
      display: block;
      position:relative;
      width: 900px;
      height: 160px;
      border: none;
      font-family:  ariel, sans-serif;
      text-align:   center;
      color:        white;
      background-color: transparent;
      margin-top:  10px;
}
</style>
<style>
.link_text{
   position: relative;
   top: -20px;
   color:   rgb(140,190,255);
   font-style:  italic;
   font-family: arial;
   font-weight: 200;
   font-size:   15px;
   padding:     0px 20px 20px 38px;

   cursor:      pointer;
   text-decoration: none;
   border: none;
   background-color: transparent;
}
.link_text a:visited {
   color: rgb(140,190, 255) !important;
   text-decoration: none    !important;
}
.link_text a:hover {
   color: rgb(200,255, 255) !important;
   text-decoration: none    !important;
}
</style>login</div>
</div>
</div>

        <!-- Content div contains HQ_page for HQ styles, Logo and title div, and USER CONTENT -->
		<div id="content" class="mw-body" role="main">
		    <a id="top"></a>
            <div id="top_title">
                <div class="logo_2017">
                    <a href="http://2017.igem.org">
                    <img src="http://2017.igem.org/wiki/images/8/8b/HQ_page_logo.jpg" width="100px">
                    </a>
                </div>
 		        <h1 id="firstHeading" class="firstHeading">
		            <span dir="auto">Team:Amsterdam/test/joeri/index</span>
		        </h1>
            </div>
            <div id="HQ_page">
                <div id="bodyContent">
		            <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
		            <!-- START OF iGEM Content -->

