					<!-- END OF iGEM Content -->
		            </div>
		            <div class="visualClear"></div>
		            </div>
		        </div>
		     </div>
	        <!-- Side Menubar -->
	        <div id="sideMenu">
	            <a href="http://2017.igem.org">
	                <div id="home_logo" >
	                <img src="http://2017.igem.org/wiki/images/b/bf/HQ_menu_logo.jpg">
	                </div>
	            </a>

	            <div style="clear:both; height:5px;"></div>

	            <div id="menuDisplay"></div>  <!- Menu will be loaded here ->
	        </div>

	        <!-- Pop_Why Div is definded here -->
	        <div class="pop_why_cover"></div>

	        <div class="pop_why_box" >
	            <div class="pop_close">× </div>
	            <div class="pop_why_content"><h3> Loading ... </h3></div>
	        </div>
    </div>
</html>
