---
title: The Bootstrapped Middlemanned iGEM Wiki Template
---

<h1 class="cover-heading">Cover your page.</h1>
<p class="lead">
	Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
</p>

<p class="lead">
	<a href="https://getbootstrap.com/docs/4.0/examples/" class="btn btn-lg btn-secondary">Learn more</a>
</p>

<hr>

<%= image_tag "HQ_menu_logo.jpg" %>

<p class="lead">
	<a id="features"></a>
	<%= lorem.paragraph %>
<p class="lead">
